/* VARIABLES */

:root {
  --white-color: #fff;
  --header-bgcolor: #014e56;
  --link-color: #f67e7e;
  --span-color: #79c8c7;
  --build-bgcolor: #012f34;
  --footer-bgcolor: #002529;
}

/* GENERAL */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/livvic-v13-latin-600.woff2') format('woff2'),
    url('../fonts/livvic-v13-latin-600.woff') format('woff');
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/livvic-v13-latin-700.woff2') format('woff2'),
    url('../fonts/livvic-v13-latin-700.woff') format('woff');
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/livvic-v13-latin-regular.woff2') format('woff2'),
    url('../fonts/livvic-v13-latin-regular.woff') format('woff');
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Livvic", "Arial", sans-serif;
  font-weight: 600;
  overflow-x: hidden;
}

/* STICKY-FOOTER */
main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN CLASS */
.header-box__link,
.footer-box__link,
.find-box__text,
.build-list__title,
.deliver-box__author,
.about-box__text,
.meet-box__author {
  margin: 0px;
  font-size: 18px;
  line-height: 28px;
  color: var(--white-color);
  text-decoration: none;
}

.header-box__link:hover,
.footer-box__link:hover,
.icon__img:hover {
  color: var(--link-color);
  transition: all 0.3s ease;
}

.build-list__text,
.deliver-box__text,
.meet-box__specialist,
.meet-box__text {
  margin: 0px;
  font-size: 15px;
  line-height: 25px;
  color: var(--white-color);
}

.header-box__contact,
.ready-box__contact {
  display: inline-block;
  padding: 9px 33px;
  font-size: 18px;
  line-height: 28px;
  color: var(--white-color);
  border: 2px solid var(--white-color);
  border-radius: 24px;
  text-decoration: none;
}

.build-box__title,
.deliver-box__title,
.ready-box__title,
.meet-box__title {
  margin: 0px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: var(--white-color);
}

.contact-box__title {
  margin: 0px;
  font-size: 64px;
  line-height: 100px;
  font-weight: 700;
  color: var(--white-color);
}

.footer-box__adress,
.icon__text {
  display: block;
  margin: 0px;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  color: var(--white-color);
  opacity: 0.6;
  text-decoration: none;
}

/* CONTAINER */
.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* SITE HEADER START */
.site-header {
  padding: 73px 0px;
  background-color: var(--header-bgcolor);
}

.header-box {
  display: flex;
  align-items: center;
}

.header-box__logo {
  margin-right: 80px;
}

.header-box__nav {
  width: 140px;
  margin-right: auto;
}

.header-box__list {
  display: flex;
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.header-box__item:first-child {
  margin-right: 40px;
}

.header-box__contact:hover {
  color: var(--footer-bgcolor);
  background-color: var(--white-color);
  transition: all 0.3s ease;
}

/* SITE HEADER END */

/* SITE MAIN START */

/* SECTION FIND START */
.find {
  padding: 56px 0px 250px 0px;
  background-color: var(--header-bgcolor);
}

.find-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.find-box::before {
  content: "";
  position: absolute;
  left: -255px;
  width: 200px;
  height: 200px;
  background-image: url("../images/hero-bg.svg");
}

.find-box::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -354px;
  width: 358px;
  height: 200px;
  background-image: url("../images/herobot-bg.svg");
}

.find-box__title-box {
  width: 620px;
}

.find-box__title {
  margin: 0px;
  font-size: 100px;
  line-height: 100px;
  font-weight: 700;
  color: var(--white-color);
}

.find-box__tiny {
  color: var(--link-color);
}

.find-box__text-box {
  position: relative;
  width: 445px;
}

.find-box__text::before {
  content: "";
  position: absolute;
  top: -87px;
  display: block;
  width: 50px;
  height: 4px;
  margin-bottom: auto;
  border-top: 4px solid var(--span-color);
}

/* SECTION FIND END */

/* SECTION BUILD START */
.build {
  position: relative;
  padding: 197px 0px 140px 0px;
  background-color: var(--build-bgcolor);
}

.build-box {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.build-box::after {
  content: "";
  position: absolute;
  right: -250px;
  bottom: -140px;
  width: 200px;
  height: 244px;
  background-image: url("../images/build-bg.svg");
}

.build-box__title-box {
  position: relative;
  width: 445px;
}

.build-box__title-box::before {
  content: "";
  position: absolute;
  top: -57px;
  width: 50px;
  height: 4px;
  border-top: 4px solid var(--link-color);
}

.build-list {
  margin-top: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.build-list__item {
  position: relative;
  width: 445px;
  margin-bottom: 32px;
}

.build-list__item:last-child {
  margin: 0px;
}

.build-list__item::before {
  content: "";
  position: absolute;
  left: -93px;
  width: 72px;
  height: 72px;
  background-image: url("../images/experienced.svg");
}

.build-list__item:nth-child(2)::before {
  background-image: url("../images/easy.svg");
}

.build-list__item:nth-child(3)::before {
  background-image: url("../images/enhanced.svg");
}

.build-list__title {
  margin: 0px;
  margin-bottom: 16px;
  font-weight: 700;
  color: var(--link-color);
}

.build-list__text {
  opacity: 0.8;
}

/* SECTION BUILD END */

/* SECTION DELIVER START */
.deliver {
  padding: 140px 0px 245px 0px;
  background-color: var(--header-bgcolor);
}

.deliver-box {
  position: relative;
}

.deliver-box::before {
  content: "";
  display: block;
  position: absolute;
  left: -262px;
  top: -140px;
  width: 147px;
  height: 100px;
  background-image: url("../images/deliverb.svg");
}

.deliver-box::after {
  content: "";
  position: absolute;
  right: -165px;
  bottom: -345px;
  display: block;
  width: 200px;
  height: 200px;
  background-image: url("../images/delivera.svg");
}

.deliver-box__title-box {
  width: 932px;
  margin: 0 auto;
}

.deliver-box__title {
  margin-bottom: 92px;
  text-align: center;
}

.deliver-box__title-tiny {
  color: var(--span-color);
}

.deliver-box__list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.deliver-box__item {
  position: relative;
  width: 350px;
}

.deliver-box__item::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 141px;
  z-index: 1;
  width: 67px;
  height: 56px;
  background-image: url("../images/“.svg");
}

.deliver-box__item::after {
  content: "";
  position: absolute;
  bottom: -94px;
  left: 140px;
  display: block;
  width: 62px;
  height: 62px;
  background-image: url("../images/kady.png");
  background-size: contain;
}

.deliver-box__item:nth-child(2)::after {
  background-image: url("../images/aiysha.png");
}

.deliver-box__item:nth-child(3)::after {
  background-image: url("../images/arthur.png");
}

.deliver-box__text {
  position: relative;
  z-index: 2;
  margin-bottom: 24px;
  text-align: center;
}

.deliver-box__author {
  margin-bottom: 2px;
  text-align: center;
  font-weight: 700;
  color: var(--span-color);
}

.deliver-box__specialist {
  margin: 0px;
  font-style: italic;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: var(--white-color);
}

/* SECTION DELIVER END */
/* SECTION READY START */
.ready {
  position: relative;
  padding: 76px 0px;
  background-color: var(--link-color);
}

.ready-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 917px;
  margin: 0 auto;
}

.ready-box::before {
  content: "";
  display: block;
  position: absolute;
  top: -18px;
  left: -378px;
  z-index: 0;
  width: 200px;
  height: 244px;
  background-image: url("../images/readybg.svg");
}

.ready-box__title {
  color: var(--build-bgcolor);
}

.ready-box__contact {
  border-color: var(--build-bgcolor);
  color: var(--build-bgcolor);
}

.ready-box__contact:hover {
  color: var(--white-color);
  background-color: var(--build-bgcolor);
  transition: all 0.3s ease;
}

/* SECTION READY END */

/* SITE MAIN END */

/* SITE FOOTER START */
.site-footer {
  position: relative;
  padding: 48px 0px;
  background-color: var(--footer-bgcolor);
}

.footer-box {
  display: flex;
  align-items: center;
}

.footer-box__logo-box {
  width: 160px;
  margin-right: 125px;
}

.footer-box__logo {
  display: inline-block;
  margin-bottom: 25px;
}

.footer-box__list {
  display: flex;
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.footer-box__item:first-child {
  margin-right: 40px;
}

.footer-box__adress {
  margin-right: auto;
}

.icon {
  width: 255px;
}

.icon__list {
  display: flex;
  width: 104px;
  margin: 0px 0px 51px auto;
  padding-left: 0px;
  list-style-type: none;
}

.icon__item:not(:last-child) {
  margin-right: 16px;
}

.icon__img {
  color: var(--white-color);
}

/* SITE FOOTER END */

/* PAGE 2 ABOUT START */

/* SECTION ABOUT START */
.about {
  padding: 51px 0px 120px 0px;
  background-color: var(--header-bgcolor);
}

.about-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.about-box__title {
  margin: 0px;
  font-size: 64px;
  line-height: 100px;
  font-weight: 700;
  color: var(--white-color);
}

.about-box__text-box {
  width: 730px;
}

.about-box__text {
  position: relative;
}

.about-box__text::before {
  content: "";
  position: absolute;
  top: -40px;
  width: 50px;
  height: 4px;
  border-top: 4px solid var(--link-color);
}


/* DIRECTORS SECTION CSS  */

.directors {
  padding-top: 140px;
  padding-bottom: 168px;
  background-color: #004047;
}

.directors__topic {
  margin: 0;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}


.directors__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}






.card {
  margin-right: 30px;
  margin-bottom: 76px;
  background-color: transparent;
  width: 350px;
  height: 253px;
  perspective: 1000px;
}

.card:nth-child(4) {
  margin-bottom: 0;
}

.card:nth-child(3) {
 margin-right: 0;
}

.card:nth-child(5) {
  margin-bottom: 0;
}

.card:nth-child(6) {
  margin-right: 0;
  margin-bottom: 0;
}

.card__inner {

  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;

}

.card:hover .card__inner {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
 
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__front {

  /* padding: 32px 24px 56px 24px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #012F34;

}

.card__img {
  border: 2px solid #C4FFFE;
  border-radius: 50%;
  align-content: center;
  margin-bottom: 16px;
}

.card__name {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
}

.card__desc {
  margin: 0;
  margin-bottom: 48px;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}


.card__front-btn {
  position: absolute;
  bottom: -24px;
  left: 145px;
  width: 56px;
  height: 56px;
  background-color:#F67E7E;
  border-radius: 50%;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: calc(50%) calc(50%);

}

.card:hover .card__front-btn {
  background-color: #79C8C7;
  transform: rotate(45deg);
}

.card__back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 35px 24px 63px 24px; */
  background-color: #002529;
  /* color: ; */
  transform: rotateY(180deg);
}


.card__name-back {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
}

.card__desc-back {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.card__btn-link {
  color: #fff;
}

.card__btn-link:not(:last-child) {
  margin-right: 16px;
}

/* SECTION ABOUT END */

/* SECTION MEET START */
.meet {
  padding: 140px 0px;
  background-color: #004047;
}

.meet-box__title {
  margin-bottom: 64px;
  text-align: center;
}

.meet-box__list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.meet-box__item {
  position: relative;
  width: 350px;
  height: 253px;
  perspective: 1000px;
}

.meet-box__item:hover .meet-box__front {
  transform: rotateY(180deg);
}

.meet-box__item:hover .meet-box__back {
  transform: rotateY(360deg);
}

.meet-box__front,
.meet-box__back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: all 1s ease;
}

.meet-box__front {
  position: relative;
  margin-top: 144px;
  margin-bottom: 56px;
  background-color: var(--build-bgcolor);
}

.meet-box__front::before {
  content: "";
  position: absolute;
  left: 127px;
  bottom: 64px;
  width: 96px;
  height: 96px;
  background-image: url("../images/nikita.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.meet-box__front::after {
  content: "";
  position: absolute;
  top: 79px;
  left: 150px;
  width: 56px;
  height: 56px;
  background-image: url("../images/plus.svg");
  background-size: contain;
}

.meet-box__author {
  text-align: center;
  color: var(--span-color);
}

.meet-box__specialist {
  font-style: italic;
  text-align: center;
}

.meet-box__back {
  position: relative;
  width: 254px;
  margin: 35px auto 59px;
  background-color: wheat;
  transform: rotateY(180deg);
}

.meet-box__back::after {
  content: "";
  position: absolute;
  top: 190px;
  left: 99px;
  width: 56px;
  height: 56px;
  background-image: url("../images/X.svg");
}

.meet-box__author {
  margin-bottom: 8px;
}

.meet-box__text {
  margin-bottom: 24px;
  text-align: center;
}

.meet-box__icon-list {
  display: flex;
  width: 60px;
  margin: 0px;
  margin: 0 auto;
  padding-left: 0px;
  list-style-type: none;
}

.meet-box__icon-link {
  margin-right: 16px;
}


/* SECTION MEET END */

/* PAGE 3 CONTACT START */
.contact {
  position: relative;
  padding: 47px 0px 128px 0px;
  background-color: var(--header-bgcolor);
}

.contact::after {
  position: absolute;
  right: -118px;
  bottom: 0px;
  width: 225px;
  height: 200px;
  background-image: url("../images/form-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.contact-box-primary {
  display: flex;
  flex-wrap: wrap;
}

.contact-box {
  position: relative;
  width: 453px;
  margin-right: auto;
}

.contact-box::before {
  display: inline-block;
  position: absolute;
  left: -265px;
  width: 200px;
  height: 200px;
  background-image: url("../images/delivera.svg");
  background-repeat: no-repeat;
  content: "";
}

.contact-box__title {
  margin-bottom: 16px;
}

.contact-box__text {
  margin: 0px 0px 54px 0px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: var(--link-color);
}

.contact-box__list {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.contact-box__item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.contact-box__item::before {
  width: 72px;
  height: 72px;
  margin-right: 23px;
  background-image: url("../images/experienced.svg");
  background-repeat: no-repeat;
  content: "";
}

.contact-box__item:nth-child(2)::before {
  background-image: url("../images/easy.svg");
}

.contact-box__item:nth-child(3)::before {
  background-image: url("../images/enhanced.svg");
}

.contact-box__item-text {
  margin: 0px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: var(--white-color);
}

/* FORM START */

.contact-form {
  width: 540px;
}

.contact-form__name,
.contact-form__textarea {
  width: 504px;
  padding: 0px 16px 16px 16px;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--white-color);
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid var(--white-color);
}

.contact-form__name::placeholder {
  color: var(--white-color);
  opacity: 0.6;
}

.contact-form__name:not(:placeholder-shown):not(:focus):invalid {
  color: var(--link-color);

}

.contact-form__name:not(:placeholder-shown):valid {
  border-bottom: 1px solid var(--span-color);
}

.contact-form__name:not(:placeholder-shown):not(:focus):invalid+.contact-form__tiny {
  opacity: 1;
}

.contact-form__tiny {
  margin-bottom: 17px;
  padding-left: 16px;
  font-size: 10px;
  line-height: 12px;
  color: var(--link-color);
  opacity: 0;
}

.contact-form__textarea {
  width: 539px;
  height: 84px;
  margin-bottom: 10px;
  padding-left: 16px;
  resize: none;
}

.contact-form__textarea::placeholder {
  color: var(--white-color);
  opacity: 0.6;
}

.contact-form__btn {
  margin-top: 24px;
  padding: 9px 32px 11px 32px;
  font-size: 18px;
  line-height: 28px;
  color: #004047;
  border-color: transparent;
  border-radius: 24px;
}

/* PAGE 3 CONTACT END */